/credentials

src/pkg/simulation/sumo-scenarios/*
src/pkg/simulation/sumo-scenarios
/lua/_binding

.env
*/*.xml

*/docker-volume-data
/redis/data
/src/dist
/media
.DS_Store
src/rttmas-backend*
src/pkg/web/dist/*

/__*
__*