# System module on/off
RTTMAS_ENABLE_FCM=true
RTTMAS_ENABLE_MQTT=true
RTTMAS_ENABLE_WEBSERVER=true
RTTMAS_SIM_ANALYSIS=false
RTTMAS_SIM_BINDING=false

# The config files to use for NGINX and RabbitMQ
# xxx.conf for production
# xxx.dev.conf for local development
NGINX_CONFIG_FILE=nginx.conf
RABBITMQ_CONFIG_FILE=rabbitmq.conf

# ALWAYS SET TO "production" FOR PRODUCTION ENVIRONMENT!
# "production" or "development"
GO_ENV=development

# Rate limiter
RATE_LIMITER_REQUEST_PER_SECOND=100

# API host options
SYSTEM_HOSTNAME=localhost
API_PORT=8080
API_PORT_TLS=443
USE_TLS=false
TLS_KEYFILE_PATH=
TLS_CERTFILE_PATH=

# CORS
CORS_ALLOW_ALL_ORIGINS=true

# JWT
JWT_SECRET=secret

# MQTT options
MQTT_SCHEME=mqtt
MQTT_HOST=rttmas-rabbitmq       # Set the "localhost" for local development
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_QOS=0
MQTT_SELF_CLIENT_ID=rttmas

# MongoDB options
MONGODB_HOST=rttmas-mongodb     # Set the "localhost" for local development
MONGODB_PORT=27017
MONGODB_USERNAME=
MONGODB_PASSWORD=

# Firebase FCM
GOOGLE_APPLICATION_CREDENTIALS_PATH=../credentials/firebase_privkey.json    # Don't change this
FCM_ANDROID_TARGET_ID_TOKEN=
